/*Fonts*/
$body_font: 'Lato', sans-serif;
$header_font: 'proxima-nova' ,sans-serif;

/*Colors*/
$dark: #34302D;
$dark_transparent: rgba(52,48,45,0.5);
$green: #86C543;
$cream: #EDEAE3;
$light_grey: #e6e6e6;
$white: #fff;
$light_green: #8FB84D;
